@model NETCORE_ALUM.Models.RepXEdo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>REGISTRO DE ALUMNOS[ASP.NET CORE 8]</title>
</head>
<body>
    <div>
        Para los Reportes...<br />
        <a href="@Model.Link">Esta es la Ruta</a>
    </div>
</body>
</html>